@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --color-primary: #EA4B71;
  --color-secondary: #101330;
  --color-brand-black: #040506;
  --color-grey-50: #121212;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-brand-black: var(--color-brand-black);
  --color-grey-50: var(--color-grey-50);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
